.header {
  height: 45px;
  color: #fff;
  background-color: #2f3127;
}
.header-logo {
  font-size: 20px;
  padding: 10px 20px;
  float: left; //左寄せ
}
.nav-item {
  font-size: 15px;
  float: right; //左寄せにしてリストを横に並べる
  padding: 10px 20px;
}
.nav-item ul {
  margin: 0; //liの位置がズレるのでなくす
}
.nav-item li {
  list-style: none; //リストの「・」を消す
  float: left; //左寄せにしてリストを横に並べる
}
.nav-item li > a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.main {
  padding: 10px 80px;
}
.page-title h1 {
  font-size: 40px;
}
.footer {
  height: 100px;
  width: 100%;
  padding: 40px;
  background-color: #2f3127;
  color: #fff;
  position: relative;
}
.footer-support {
  padding-left: 20px;
}
dl.footer-support {
  width: 500px;
}
.footer-support dt {
  float: left;
}
dd.footer-col {
  margin-left: 80px;
}
.footer-copyright {
  font-size: 11px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.back-link-area {
  margin: 0px 0px 40px 0px;
  cursor: pointer;
}
