// 画面ヘッダー部
.header {
  height: 90px;
  color: #fff;
  background-color: #2f3127;
}
.header-logo {
  font-size: 36px;
  padding: 20px 40px;
  float: left; //左寄せ
}
.header-list {
  float: left; //左寄せにしてリストを横に並べる
}
.header-list ul {
  margin: 0; //liの位置がズレるのでなくす
}
.header-list li {
  list-style: none; //リストの「・」を消す
  float: left; //左寄せにしてリストを横に並べる
  padding: 33px 20px; //上下30、左右20の余白
}

.footer {
  height: 120px;
  padding: 40px;
  background-color: #2f3127;
  color: #fff;
}
.footer-logo {
  font-size: 32px;
  float: left;
}
.footer-list {
  float: right;
}
.footer-list li {
  padding-bottom: 20px;
}
