.main {
  padding: 100px 80px;
}
.copy-container h1 {
  font-size: 140px;
}
.copy-container h2 {
  font-size: 60px;
}
.copy-container span {
  color: #ff4a4a;
}

.contents {
  height: 350px;
  margin-top: 100px;
}
.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}
.contents-item {
  float: left;
  margin-right: 40px;
}
.detail-area {
  display: none;
}
.btn-icon {
  width: 200px;
  height: 200px;
  border: none;
  cursor: pointer;
}
#ror-btn {
  background: image-url("ror.png") no-repeat left;
  background-size: contain;
}
#css-btn {
  background: image-url("css.png") no-repeat left;
  background-size: contain;
}
#jav-btn {
  background: image-url("javascript.png") no-repeat left;
  background-size: contain;
}
