.main {
  padding: 100px 80px;
}
.copy-container h1 {
  font-size: 140px;
}

/* copy-containerの中のh2のfont-sizeを指定してください */
.copy-container h2 {
  font-size: 60px;
}

/* copy-containerの中のspanの色を指定してください */
.copy-container span {
  color: #ff4a4a;
}
