// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* posts/index ================================ */
table {
  width: 1000px;
  border-collapse: collapse;
  margin-left:100px;
  font-size: 14px;
  margin-bottom: 100px;
}
table th{
  /*実線 1px 黒*/
  padding: 10px;
  border: 1px solid #999;
  color: #fff;
  background: #258;
  text-align: left;
  font-weight: bold;
}
table td {
  /*実線 1px 黒*/
  padding: 10px;
  border: 1px solid #999;
}
