table {
  width: 1000px;
  border-collapse: collapse;
  margin-left:100px;
  font-size: 14px;
  margin-bottom: 40px;
}
table th{
  /*実線 1px 黒*/
  padding: 10px;
  border: 1px solid #999;
  color: #fff;
  background: #258;
  text-align: left;
  font-weight: bold;
}
table td {
  /*実線 1px 黒*/
  padding: 10px;
  border: 1px solid #999;
}
caption.create-link{
  caption-side: top;
  text-align: right;
}
